<header>
  <div class="site-branding">
    <h1 class="site-title">
      <a href="<%- config.root %>"><%= config.title %></a>
    </h1>
    <p class="site-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
  </div>
  <nav class="site-navigation">
    <ul>
      <% for (var i in theme.menu){ %>
        <% if(path.split("/")[0].toLowerCase() == i.toLowerCase() || (i == "Home" && path.split("/")[0] == "index.html")){ %>
          <li class="menu-cover"><a class= "menu-cover-a" href="<%- url_for(theme.menu[i]) %>"><%= __(i) %></a></li>
        <% } else { %>
          <li><a class="menu-uncover-a" href="<%- url_for(theme.menu[i]) %>"><%= __(i) %></li>
        <% } %>
      <% } %>
    </ul>
  </nav>
</header>